;; Clojure API for Arduino with debug mode
{:deps {cheshire/cheshire           {:mvn/version "5.11.0"}
        com.taoensso/timbre         {:mvn/version "5.2.1"}
        io.aviso/pretty             {:mvn/version "1.1.1"}
        io.github.obarbeau/clodiuno {:git/sha "a9b0d7a82e8a6a2cbae8374cbddfe6bd0740ee3b"}
        org.clojure/clojure         {:mvn/version "1.11.1"}}
 :paths ["src" "resources"]
 :aliases
 {:build {:deps {io.github.obarbeau/build-clj
                 {:git/sha "bb7d3f12381d84b9e230d8497d4d09b9fd6971ab"}}
          :exec-args {:lib io.github.obarbeau/clodiuno
                      :main-ns clodiuno.core
                      :version "0.0.4-SNAPSHOT"}}
  :test {:extra-paths ["test" "test-resources"]
         :extra-deps {lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}}}}}